html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

canvas {
  display: block;
  overflow: hidden;
}

#scoreBoard {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding: 10px;
  font-size: 20px;
  background-color: #333;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
}

.autor {
  width: 45px;
  height: 45px;
  background-image: url('Graphics/Logo.svg');
  background-size: cover;
  background-position: center;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.autor:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s;
}

@media screen and (max-width: 600px) {
  #scoreBoard {
    width: 90%;
    font-size: 16px;
  }
  
}